"*":
  "activate-power-mode":
	particles:
	  size: {}
	  spawnCount: {}
	  totalCount: {}
	screenShake:
	  enabled: false
  core:
	ignoredNames: [
	  "*.pyc"
	  ".git"
	]
  editor:
	invisibles: {}
	preferredLineLength: 110
	showIndentGuide: true
	showInvisibles: true
	softTabs: false
	softWrap: true
	tabLength: 4
	tabType: "soft"
  "exception-reporting":
	userId: "003b43c9-166e-c9ea-c4b7-c82ecde27a2e"
  grammar:
	javascript:
	  editor:
		tabLength: 2
  "line-ending-converter":
	normalizeEolOnSave: "Unix (LF)"
  linter:
	errorPanelHeight: 117
	showErrorPanel: false
  "linter-pep8":
	maxLineLength: 110
  "tabs-to-spaces":
	onSave: "tabify"
  "tree-view":
	hideIgnoredNames: true
  welcome:
	showOnStartup: false
".c.source":
  editor:
	tabLength: 4
".gfm.source":
  editor:
	showInvisibles: false
	softWrap: true
	tabLength: 4
".js.source":
  editor:
	tabLength: 2
".python.source":
  editor:
	tabLength: 4
