'.python.source':
  'editor':
    'tabLength': 4
'.js.source':
  'editor':
    'tabLength': 2
'.gfm.source':
  'editor':
    'showInvisibles': false
    'softWrap': true
    'tabLength': 4
'.c.source':
  'editor':
    'tabLength': 4
"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake:
      enabled: false
  core:
    ignoredNames: [
      "*.pyc"
      ".git"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 110
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "212039da-80c9-5c48-7a5e-61c78f2ca7ce"
  grammar:
    javascript:
      editor:
        tabLength: 2
  "line-ending-converter":
    normalizeEolOnSave: "Unix (LF)"
  linter:
    errorPanelHeight: 117
    showErrorPanel: false
  "linter-pep8":
    maxLineLength: 110
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
